body {
    margin: 0;
}
#controles {
    position: absolute;
    display: flex;
    z-index: 1;
    margin-top: 1%;
    margin-left: 1%;
    flex-direction: column;
    

    
}
#box{
    display: flex;
    flex-direction: row;
   margin-bottom: 1%;
    
   
}

#colorPicker{
  scale: 0.8;
}

button{
  scale: 0.8;
}